body { 
    background-image: url("blue-mountains-foggy-mountain-range-landscape-scenery-5k-5120x2880-5939.jpg");
}

.list li span {
    color: rgb(219, 0, 0);
    padding: 0px 2px;
    background-color: rgb(253, 247, 239, 0.5);
    border-radius: 3px;
    border: 0.1px solid rgb(255, 221, 221);
}

.list li {
    margin-bottom: 5px;
}